/* стили для комнат */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main section {
    margin: 5px;
}

/* чат */
#chat-section {
    display: flex;
    flex-direction: column;
}

#chat {
    height: 200px;
    resize: vertical;
    font-size: 0.8125rem;
    border: 1px solid gray;

    padding: 0.8rem;
    background: #F7F7F7;
    overflow-y: auto;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}

#chat .message {
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 0.6rem;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
    min-height: 2.25rem;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
    border-width: 1px;
    width: fit-content;
}

#chat .message-sender-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#chat .message-sender-id {
    font-size: 0.75rem;
    margin-top: 0.0625rem;
    margin-left: 5px;
    font-weight: 300;
    color: rgba(84, 110, 122, 1.0);
}

#chat .message-text {
    overflow-wrap: anywhere;
    margin-top: 4px;
}

#chat .message-date {
    font-size: 8pt;
    color: rgba(84, 110, 122, 1.0);
    text-align: right;
}

#chat .message-file-size {
    font-size: 8pt;
    color: rgba(84, 110, 122, 1.0);
    margin-top: 4px;
}

#chat .message-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#message-textarea {
    flex: 1 1 95%;
    resize: vertical;
}

#btn-send-message {
    flex-grow: 1;
}

.video-label {
    position: absolute;
    right: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightgrey;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2vw;
    opacity: 85%;
    max-width: 95%;
    z-index: 1;
}

.center-video-label {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    z-index: 1;
    color: white;
    text-shadow: 0 0 2px #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 60%;
}

.video-item {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    display: inline-flex;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid grey;
}

.video-container {
    width: 100%;
    position: relative;
}

/*
    изменим градиент затемнения и
    ускорим анимацию панели управления видео
*/
.plyr--video .plyr__controls {
    --plyr-video-controls-background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.55) 30%, rgba(0, 0, 0, 0) 100%);
    padding-top: 15px;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

/* оформление для видео */
video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.p-2 {
    padding: 2px;
}

#room-name
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#users-count-label
{
    min-width: 500px;
}

#user-list
{
    width: 40px;
    vertical-align: middle;
}

#user-list option:disabled { color: #000; }

#mic-options
{
    border-radius: 7px;
    padding: 10px 15px;
    background-color: #f6d3c6;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 650px;
}

#volume-meter
{
    min-width: 500px;
    width: auto;
}

.btn
{
    border: 1px solid rgba(27,31,35,0.25);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    outline: none;
    appearance: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    background-color: #ebebeb;
}

.my-select
{
    border: 1px solid rgba(27,31,35,0.25);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    background-color: #ebebeb;
}

.btn-mic
{
    border-style: none;
    margin-top: 5px;
    font-size: 14px;
    width: fit-content;
    padding: 5px;
}

#btn-pause-mic
{
    margin-left: 5px;
}

#btn-unpause-mic
{
    margin-left: 5px;
}

#btn-set-new-username
{
    margin-left: 5px;
}

.ml-auto
{
    margin-left: auto;
}

#mic-is-not-captured
{
    background-color: #48423f;
    opacity: 98%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mic-is-not-captured div
{
    margin: auto;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

#mic-is-not-captured div div
{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
}

#settings
{
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.align-self-center
{
    align-self: center;
}

.mic-settings-label
{
    font-weight: 300;
    display: inline-block;
    margin-bottom: 4px;
}