/* Чат */

#chat
{
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-basis: 0;
    font-size: 0.8125rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #152025;
    overflow-y: auto;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/************** Строка ввода сообщения **************/

#message-textarea
{
    word-wrap: break-word;
    resize: none;
    padding: 12px;
    cursor: text;
}

#message-textarea-container
{
    display: flex;
    flex: auto;
    overflow: scroll;
    max-height: 100%;
}

#message-textarea-wrapper
{
    position: relative;
    background-color: #1b282e;
    border-radius: 10px;
    border: 1px solid #5b5b5b;
    color: #fafafa;
    overflow: scroll;
    box-sizing: border-box;
    font-size: 0.8125rem;
    min-height: 42px;
    max-height: 200px;
    flex: auto;
}

#message-textarea-placeholder
{
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
}

#message-textarea:focus
{
    outline: none;
}

/************** Кнопки **************/

/* Общий стиль для контейнеров кнопок */
.btn-container
{
    display: flex;
    justify-content: center;
}

.btn-send-message
{
    background-color: #1b282e;
    color: #fafafa;
    min-height: 40px;
    border: none;
    margin: 10px 2px 2px 2px;
    max-width: 45px;

}

.tooltip-send-btn
{
    width: 115px;
}

.chat-btn-clickable-area
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.chat-btn-box
{
    position: relative;
}

.chat-btn-box:hover button
{
    color: #fff;
}

.chat-btn-box button
{
    max-height: 42px;
    min-height: 42px;
    min-width: 56px;
    max-width: 56px;
    color: #656565;
}

.btn-icon
{
    width: 25px;
    height: 25px;
}

/************** Блоки сообщений в чате **************/

/* Собственное смс (справа) */
.self-msg-area
{
    display: flex;
    justify-content: right;
    margin: 0.6rem 0.8rem 0.6rem 0.8rem;
}

/* Сообщение собеседника (слева) */
.msg-area
{
    display: flex;
    justify-content: left;
    margin: 0.6rem 0.8rem 0.6rem 0.8rem;
}

/* Контейнер для сообщений */
.msg-container
{
    padding: 10px;
    min-width: 10%;
    max-width: 60%;
    position: relative;
    overflow-wrap: anywhere;
}

.message-body
{
    margin-top: 4px;
    white-space: pre-line;
}

/* Стили блоков сообщений */

/* Общий стиль всех сообщений */
.msg-content
{
    text-align: left;
    border-width: 2px;
    border-style: solid;
    margin-top: 4px;
}

/* Стиль сообщений других участников */
.members-msg-content
{
    border-color: #363f47;
    background-color: #363f47;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
}

/* Стиль собственных сообщений */
.self-msg-content
{
    border-color: #1d3034;
    background-color: #1d3034;
    border-radius: 0.75rem 0.75rem 0 0.75rem;
}

/* Стиль имени отправителя смс */
.user-name
{
    font-weight: 600;
    color: dodgerblue;
    z-index: 2;
    position: relative;
}

/* Стиль id отправителя смс */
.user-id
{
    font-size: 0.75rem;
    margin-top: 0.0625rem;
    margin-left: 5px;
    font-weight: 300;
    color: #8999a0;
    z-index: 2;
    position: relative;
}

/* Стиль даты отправки смс */
.date-msg-right
{
    position: relative;
    text-align: right;
    width: 100%;
    font-size: 8pt;
    color: #8999a0;
    z-index: 2;
}

/* Стиль кликабельного контейнера над сообщением (для обработки скачивания файла) */
.msg-placeholder
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.video-label
{
    position: absolute;
    right: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightgrey;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2vw;
    opacity: 85%;
    max-width: 95%;
    z-index: 1;
}

.center-video-label
{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    z-index: 1;
    color: white;
    text-shadow: 0 0 2px #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 60%;
}

.video-item
{
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    display: inline-flex;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid grey;
}

.video-container
{
    width: 100%;
    position: relative;
}

.btn
{
    border: 1px solid rgba(27, 31, 35, 0.25);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    outline: none;
    appearance: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    background-color: #ebebeb;
}

.message-input-area
{
    display: flex;
    align-items: end;
    border-top: 1px solid #1f2022;
    max-height: 60%;
    min-height: 42px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.view-file-cards-area
{
    display: flex;
    flex: 5 1 auto;
    flex-basis: 0;
    width: 100%;
    overflow-x: auto;
    max-height: 150px;
}

.progress-load
{
    text-align: center;
    font-size: 8pt;
    color: #8999a0;
    margin-top: 4px;
}

.remove-file-btn
{
    z-index: 10;
    text-align: right;
}

.file-cards
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    padding: 5px 8px 5px 8px;
    margin: 8px 0 8px 5px;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: inset -1px -1px 1px 0 #152025,
        inset 1px 1px 1px 0 #1b282e;
    font-size: 6pt;
    background-color: #1f2022;
    box-sizing: border-box;
    overflow: hidden;
}

.file-icon
{
    width: 45px;
    height: 45px;
}

.file-cards-icon
{
    text-align: center;
    width: 100%;
    min-height: 0;
    overflow: hidden;
}

.file-cards-desc
{
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.file-cards-desc-wrapper
{
    display: flex;
    flex-direction: column;
    font-size: 1.125em;
    line-height: 1.2em;
    min-height: 1.2em;
    max-height: 3.6em;
    height: 3.6em;
}

.file-cards-progress
{
    margin-bottom: 5px;
}

.align-end
{
    text-align: end;
}

/* Прогресс бар для загрузки файлов */
progress
{
    text-align: center;
    width: 100%;
    height: 2px;
    border: none;
    background-color: #286C2D;
}

/* Для одинакового отображения прогресс бара 
   в Firefox, Chrome , Safari используем префиксы -moz, -webkit */
progress::-webkit-progress-bar
{
    border: none;
    background-color: #286C2D;
}

progress::-webkit-progress-value
{
    background-color: #41E847;
}

progress::-moz-progress-bar
{
    border: none;
    background-color: #41E847;
}


.frame
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 2px;
}

.message-file-size
{
    font-size: 8pt;
    color: #8999a0;
    margin-top: 4px;
}

.color-darkviolet
{
    color: rgb(192, 125, 223);
}

.color-customgray
{
    color: rgb(134, 163, 177);
}

/******** Ссылки ********/
.message-link
{
    color: dodgerblue;
}

.message-link:visited
{
    color: rgb(192, 125, 223);
}