/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#tooltip-select-display-resolution
{
    width: 140px;
}

#tooltip-select-display-fps
{
    width: 140px;
}
