/******** Ссылки ********/
.styled-msg-link
{
    color: dodgerblue;
}

.styled-msg-link:visited
{
    color: rgb(192, 125, 223);
}

/******** Эффекты текста ********/
.styled-msg-inline-code-area
{
    white-space: pre-wrap;
    background-color: #555555;
}
.styled-msg-code-area
{
    white-space: pre-wrap;
    margin: 0;
    background-color: #555555;
}