#call-container
{
    position: relative;
    display: flex;
    flex: auto;
    border-bottom: 1px rgb(34, 33, 33) solid;
    background-color: #303338;
    border-radius: 7px;
}

#chat-container
{
    position: relative;
    display: flex;
    overflow-y: scroll;
    min-height: 20%;
    max-height: 80%;
    background-color: #3d4248;
    border-radius: 7px;
}

#resize-handler-bar
{
    cursor: ns-resize;
    height: 4px;
    width: 100%;
}

#resize-handler-wrapper
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}