#call-container
{
    display: flex;
    flex-direction: column;
    flex: auto;
    min-width: 270px;
}

#room-alerts-container
{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 85px;
}

#call-container-divider
{
    margin: 0;
    border-width: 0px;
    border-bottom: 3px #2b4b5a solid;
}