.switch-area
{
    cursor: pointer;
    display: flex;
    line-height: normal;
    align-items: center;
    justify-content: center;
}

/** Область для свитча (вместе с текстом) 
    TODO: Для текста свитча можно будет что-нибудь тут написать
    Если не нужен - можно удалить*/
/* Основной контейнер для свитча */
.switch-container
{
    display: inline-block;
    position: relative;
    width: 45px;
    height: 26px;
    border-radius: 15px;
}

/* Скрыть checkbox */
.switch-input
{
    height: 0;
    width: 0;
    opacity: 0;
}

/* Слайдер */
.switch-slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    background-color: #a39e9e;
}
/* Стиль для фокуса (небольшое свечение) */
.switch-input:focus + .switch-slider
{
    box-shadow: 0 0 2px white;
}

/* Иконки */
.switch-icon
{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    color: rgb(112, 106, 106);
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.switch-icon-on
{
    left: 22px;
}
.switch-icon-off
{
    left: 3px;
}
.switch-on
{
    background-color: #10a84a;
}
.switch-off
{
    background-color: #a39e9e;
}
.switch-on .switch-icon-off
{
    opacity: 0;
}
.switch-off .switch-icon-on
{
    opacity: 0;
}

.switch-label
{
    display: inline-flex;
    flex: auto;
    padding: 0;
    margin: 0;
}
