.toolbar-btn.MuiButtonBase-root {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    padding: 0;
    margin: 0 8px;
    filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.6));
}

.toolbar-btn.MuiButtonBase-root svg {
    font-size: 1.4rem;
}

.toolbar-btn-active.toolbar-btn.MuiButtonBase-root {
    color: #f0e9e9;
}

.toolbar-btn-inactive.toolbar-btn.MuiButtonBase-root {
    color: #b5bac1;
}

#header-room-toolbar {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: 8px;
    align-items: center;
    min-width: max-content;
}