.toolbar-btn.MuiButtonBase-root {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    padding: 0;
    margin: 0 8px;
    filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.6));
}

.toolbar-btn-active.toolbar-btn.MuiButtonBase-root {
    color: #f0e9e9;
}

.toolbar-btn-inactive.toolbar-btn.MuiButtonBase-root {
    color: #b5bac1;
}

.tooltip .MuiTooltip-tooltip {
    background-color: rgba(0, 0, 0, 0.98);
    font-size: 0.9rem;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    touch-action: manipulation;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.85);
}

.tooltip .MuiTooltip-arrow {
    color: black;
}

#header-room-toolbar {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: 8px;
    align-items: center;
}