/* оформление для заголовка */
.header {
    display: flex;
    align-items: center;
    z-index: 2;
    height: 32px;
    background-color: #414652;
    border-bottom: 1px solid #2b2e33;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.85);
}

.header div {
    margin-left: 10px;
    font-size: 1.5rem;
    color: #d4d4d4;
}