.menu-item-icon
{
    margin-right: 12px;
    font-size: 1.25rem;
    display: inline-flex;
}

.menu-section-label
{
    display: inline-flex;
    padding: 10px 15px;
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: var(--secondary-text-color);
}

.menu-list .menu-divider
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu-list
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu-list:focus
{
    outline: none;
}

.small-text.menu-list p
{
    font-size: 0.85rem;
}

.menu-item
{
    line-height: normal;
    padding-top: 8px;
    padding-bottom: 8px;
}

.error-color
{
    color: var(--error-color);
    background-color: var(--error-bg-color);
}

.error-color p
{
    color: var(--error-text-color);
}