.tooltip .MuiTooltip-tooltip {
    background-color: rgba(0, 0, 0, 0.98);
    font-size: 0.9rem;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    touch-action: manipulation;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    max-width: 190px;
}

.tooltip.MuiTooltip-popper[data-popper-placement] .MuiTooltip-tooltip  {
    margin: 0;
}

@media (width <=600px) or (height <=400px) {
    .tooltip .MuiTooltip-tooltip {
        max-width: 150px;
    }
}

.tooltip .MuiTooltip-arrow {
    color: black;
}