#video-layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 150px;

    background-color: #303338;
    border-radius: 7px;
    border-bottom: 1px rgb(34, 33, 33) solid;
}

.video-layout-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.video-layout-item {
    display: flex;
    margin: 3px;
    align-items: center;
}

.video-container {
    width: 100%;
    height: 100%;
    background-color: rgb(164, 155, 143);
}