#video-layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: #303338;
    border-radius: 7px;
    border-bottom: 1px rgb(34, 33, 33) solid;
}

.video-layout-row {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    width: 100%;
}

.video-layout-item {
    display: flex;
    aspect-ratio: 16/9;
    margin: 3px;
    align-items: center;
}

.video-container {
    aspect-ratio: 16/9;
    width: 100%;
    height: max-content;
    background-color: rgb(164, 155, 143);
}