.settings-category-label
{
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
}
.settings-section-label
{
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 5px;
}
.settings-group-label
{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}
