.settings-category-label
{
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    margin-top: 5px;
    margin-bottom: 25px;
}

.settings-section-label
{
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    color: var(--secondary-text-color);
    margin-top: 40px;
}

.settings-group-label
{
    font-size: 0.825rem;
    letter-spacing: 0.03rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

.settings-section-label + .settings-group-label
{
    margin-top: 15px;
}
.settings-category-label + .settings-section-label
{
    margin-top: 15px;
}
