.settings-category-label
{
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    margin-top: 5px;
    margin-bottom: 25px;
}

.settings-section-label
{
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    color: var(--secondary-text-color);
    margin-top: 40px;
}

.settings-group-label
{
    font-size: 0.825rem;
    letter-spacing: 0.03rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

.settings-section-label + .settings-group-label
{
    margin-top: 15px;
}
.settings-category-label + .settings-section-label
{
    margin-top: 15px;
}

.settings-default-button
{
    height: 30px;
    width: 150px;
    background-color: #e53838;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    margin: 13px 0;
}
.settings-default-button:hover
{
    box-shadow: 0 0 2px white;
}

.settings-default-area
{
    user-select: none;
    padding-top: 12px;
    margin-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.settings-default-button-area
{
    display: flex;
    justify-content: center;
}
